
<div class="login">
    <form action="#" th:action="@{/user/validate}" th:object="${user}" method="post" class="form-horizontal">
        <label for="email" aria-hidden="true">Login</label>
        <input type="email" th:field="*{mail}" id="email" placeholder="exemple@domain.com" required="">
        <p class="text-danger" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></p>

        <label for="pass" aria-hidden="true">Mot de passe</label>
        <input type="password" th:field="*{password}" id="pass" placeholder="Password" required="">
        <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        <button type="submit">Login</button>
    </form>
</div>