<!--
<section>
    <div class="">
        <form method="POST" class="">

            <fieldset class="">
                <legend>Sign up</legend>

                <div class="">
                    <input type="email" id="email" name="field_email">
                    <label for="email">Address mail</label>
                </div>

                <div class="">
                    <input type="password" id="password" name="field_password">
                    <label for="password">password</label>
                </div>
            </fieldset>

            <input type="submit" name="form_login" value="Sign Up">
            <a href="?page=<?= PAGE_REGISTER ?>">Sign Up</a>

        </form>
    </div>
    <div>
        <h2>Discover <span>Flash Cash</span> </h2>
        <p>easy money transfer application simplify your financial</p>
        <button></button>
    </div>
</section>-->

<div class="login">
    <form action="#" th:action="@{/user/validate}" th:object="${user}" method="post" class="form-horizontal">
        <label for="email" aria-hidden="true">Login</label>
        <input type="email" th:field="*{mail}" id="email" placeholder="exemple@domain.com" required="">
        <p class="text-danger" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></p>

        <label for="pass" aria-hidden="true">Mot de passe</label>
        <input type="password" th:field="*{password}" id="pass" placeholder="Password" required="">
        <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        <button type="submit">Login</button>
    </form>
</div>