<footer class="footer" th:fragment="footer">
    <figure class="footer_logoBox"><img class="footer_logoBox_img" src="" alt=""></figure>
    <div class="footer_navGroups">
        <div class="footer_navGroups_group">
            <p class="footer_navGroups_group_title">Cash transfer</p>
            <a class="footer_navGroups_group_link" href="">FAQ</a>
            <a class="footer_navGroups_group_link" href="">Why using Flash Cash ?</a>
        </div>
        <div class="footer_navGroups_group">
            <p class="footer_navGroups_group_title">Need help ?</p>
            <a class="footer_navGroups_group_link" href="">Live chat</a>
            <a class="footer_navGroups_group_link" href="">Contact us</a>
        </div>
        <div class="footer_navGroups_group">
            <p class="footer_navGroups_group_title">About</p>
            <a class="footer_navGroups_group_link" href="">Team</a>
            <a class="footer_navGroups_group_link" href="">Location</a>
        </div>
    </div>
</footer>