<div class="topNav" th:fragment="navBarUser">
    <figure class="topNav_logoBox"><img class="topNav_logoBox-logo" th:src="Logo.png" alt=""></figure>
    <nav class="topNav_nav">
        <ul class="topNav_nav_links">
            <li class="topNav_nav_links_link"><a th:href="@{/index}">Home</a></li>
            <li class="topNav_nav_links_link"><a th:href="@{/withdrawToIban}">Transfer</a></li>
            <li class="topNav_nav_links_link"><a th:href="@{/}">Profile</a></li>
            <li class="topNav_nav_links_link"><a th:href="@{/showFriends}">Contact</a></li>
            <li class="topNav_nav_links_link"><a th:href="@{/logout}">Sign out</a></li>
        </ul>
    </nav>
</div>