<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
<!--
    <link rel="stylesheet" href="../static/style.css">
-->
    <title>FlashCash</title>
</head>
<body>

<div th:replace="~{navBarUser}" class="topNav"></div>

<main class="profileContainer">
    <h1>My Profile</h1>
    <div class="profileContainer_cards">
        <div class="profileContainer_cards_card">
            <h3>Add cash to Flash Cash</h3>
            <div class="profileContainer_cards_card_content">
                <p>Add cash with your credit card</p>
                <p>Free</p>
                <p>Instant deposit</p>
                <p>Fully secured</p>
            </div>
            <button type="submit"><a href="/addCashWithCb">Start</a></button>
        </div>
        <div class="profileContainer_cards_card">
            <h3>Transfer to your bank</h3>
            <div class="profileContainer_cards_card_content">
                <p>Instant transfer</p>
                <p>Free</p>
                <p>Worldwide</p>
                <p>Fully secured</p>
            </div>
            <button type="submit"><a href="/addFound">Start</a></button>
        </div>
        <div class="profileContainer_cards_card">
            <h3>Add an IBAN</h3>
            <div class="profileContainer_cards_card_content">
                <p>Add your IBAN here</p>
                <p>Up to 5 IBAN</p>
                <p>Any bank supported</p>
                <p>Fully secured</p>
            </div>
            <button onclick="showModal()" type="button"><a href="/addIban">Start</a></button>
        </div>
    </div>
    <h2>My account balance</h2>
    <table>
        <tr>
            <th>User</th>
            <th>Amount</th>
        </tr>
            <tr th:object="${user}">
                <td th:text="*{email}"></td>
                <td th:text="*{userAccount.amount}"></td>
            </tr>
    </table>
</main>

<footer th:insert="~{footer}" class="footer"></footer>
<script> function showModal() { document.getElementById('modale').style.display = 'block'; } </script>

</body>
</html>