<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form class="form-horizontal addCashCbForm" th:action="@{/addCashWithCb}" th:object="${addCashCbForm}" method="post">
  <fieldset>
    <legend>Ajouter du cash</legend>
    <div class="container_addIbanForm_groupInput">
      <label for="cbNumber">N° de CB</label>
      <input type="text" th:field="*{cbNumber}" id="cbNumber" placeholder="1234 3456 3746 9865">
    </div>
    <div class="container_addIbanForm_groupInput">
      <label for="date">Date</label>
      <input type="text" th:field="*{date}" id="date" placeholder="12/25">
    </div>
    <div class="container_addIbanForm_groupInput">
      <label for="cryptogram">Cryptogram</label>
      <input type="text" th:field="*{cryptogram}" id="cryptogram" placeholder="777">
    </div>
    <div class="container_addIbanForm_groupInput">
      <label for="amount">Amount</label>
      <input type="number" th:field="*{amount}" id="amount" placeholder="100">
    </div>
    <button type="submit">Submit</button>
  </fieldset>
</form>
</body>
</html>