<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{style.css}">
    <title>FlashCash</title>
</head>
<body>

<div th:replace="~{/fragments/navBarUser}" class="topNav"></div>

<main class="profileContainer">
    <h1>Heureux de vous revoir</h1>
    <div class="profileContainer_cards">
        <div class="profileContainer_cards_card">
            <h3>Add cash to Flash Cash</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto aut autem laudantium maxime
                natus officiis similique tempore vel? Earum eius minus nobis? Et, nesciunt.</p>
            <button type="submit"><a th:href="@{/}">Accéder à mon compte</a></button>
        </div>
        <div class="profileContainer_cards_card">
            <h3>Transfer to your bank</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto aut autem laudantium maxime
                natus officiis similique tempore vel? Earum eius minus nobis? Et, nesciunt.</p>
            <button type="submit"><a th:href="@{/}">Accéder à mon compte</a></button>
        </div>
        <div class="profileContainer_cards_card">
            <h3>Add an IBAN</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto aut autem laudantium maxime
                natus officiis similique tempore vel? Earum eius minus nobis? Et, nesciunt.</p>
            <button type="submit"><a th:href="@{/}">Accéder à mon compte</a></button>
        </div>
    </div>
</main>

<footer th:replace="~{/fragments/footer}" class="footer"></footer>

</body>
</html>
